{{!-- input 区域 --}}
{{input tyep='text' readonly=true class='bp-datepicker' value=inputValue placeholder='YYYY-MM-DD'}}
{{#if toggleDatepicker}}
	{{!-- 头部区 --}}
	{{#bp-layout main='between' cross='center' class="bp-datepicker-header"}}
		<a href="#" class="bp-datepicker-btn bp-datepicker-prev-btn"
			{{action 'prevYear'}}>{{bp-icon icon='pre-year'}}</a>
		<a href="#" class="bp-datepicker-btn bp-datepicker-prev-btn" {{action 'prevMonth'}}>{{bp-icon icon='left'}}</a>
		<span class="bp-datepicker-curr-month">{{date.year}}年 {{date.month}}月</span>
		<a href="#" class="bp-datepicker-btn bp-datepicker-next-btn" {{action 'nextMonth'}}>{{bp-icon icon='right'}}</a>
		<a href="#" class="bp-datepicker-btn bp-datepicker-next-btn"
			{{action 'nextYear'}}>{{bp-icon icon='next-year'}}</a>
	{{/bp-layout}}
	<!-- body区，显示日历 -->
	<div class="bp-datepicker-body">
		<table>
			<!-- 日历顶端显示星期几 -->
			<thead>
				<tr>
					{{#each weekend as |weekDay|}}
						<th>{{weekDay}}</th>
					{{/each}}
				</tr>
			</thead>
			<!-- 日历主体部分，每一行显示七天 -->
			<tbody>
				{{#each monthDays as |weekend|}}
					<tr>
						{{#each weekend as |day|}}
							{{bp-datepicker/day date=day choosedDate=choosedDate choosedDay=choosedDay onClick=(action 'chooseDate')}}
						{{/each}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}