{{!-- {{yield}} --}}
{{#if dashboardModel}}
	<p>time:from {{time.from}};to{{time.to}}</p>
	{{#each dashboardModel.rows as |row|}}
		{{bp-row direction='col' rowModel=row}}
	{{/each}}
{{else}}
	<p>The panel that type is 'add-panel' should be here.</p>
	{{#bp-button icon='add'}}add Panel{{/bp-button}}
{{/if}}