{{#if title}}
	<div class="input-prepend">
		<label for={{title}} class="input-prepend-text">{{title}}</label>
	</div>
{{/if}}
<div class="input-container">
	<input type="text" name={{title}} onInput={{action 'change'}} class="form-control" placeholder={{placeholder}}
	 aria-label="input">
	{{#if icon}}
		<span class="input-suffix">
			<img src={{icon}} alt='i' title={{title}} />
		</span>
	{{/if}}
</div>