{{!-- {{#light-table table 
	height='470px'
	as |t|}}
	{{t.head
		classNames='bp-table-thead'
		onColumnClick=(action 'onColumnClick')
		iconSortable='sort-default'
	    iconAscending='sort-asc'
	  	iconDescending='sort-des'
		iconComponent='bp-table/sort-icon'
		local-class='thead'
		fixed=true
  }}
	{{#t.body
	classNames='bp-table-tbody'
    canSelect=false
    onScrolledToBottom=(action 'onScrolledToBottom')
    as |body|
  }}
	{{/t.body}}
{{/light-table}} --}}
{{!-- <table style={{style}}  class='bp-table-thead'>
	<thead>
		{{#each columns as |column|}}
			<th>
				<div class="cell">{{column.label}}</div>
				</th>
		{{/each}}
	</thead>
</table>
{{bp-table/body style=style data=data columns=columns border=bodyBorder hover=rowHover}} --}}

<div class="table-responsive table-content">
	<table class="table-container table">
		<thead>
			{{#each columns as |column|}}
			<th class="text-center">{{column.label}}</th>
			{{/each}}
		</thead>
		<tbody class="bg-white">
			{{!-- {{#each data as |tableTr|}}
			<tr>
				{{#each tableTr as |tableTd|}}
				<td>{{tableTd}}</td>
				{{/each}}
			</tr>
			{{/each}} --}}
			{{#each data as |trow|}}
				<tr>
					{{#each columns as |column|}}
						{{#each-in trow as |key value|}}
							{{#if (bp-eq column.valuePath key)}}
								<td >{{value}}</td>
							{{/if}}
						{{/each-in}}
					{{/each}}
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>