<span class="{{if isRadio 'circle' 'square'}} {{if active 'active'}}">
	<span class="inner"></span>
</span>
{{#if itemIsObject}}
	<span class="text">{{radio.value}}</span>
{{else}}
	<span class="text">{{radio}}</span>
{{/if}}
{{!-- <span class="text">{{radio.value}}</span> --}}
{{!-- <span class="text">{{radio}}</span> --}}