{{!-- <input type="radio" id={{radio.id}} value={{radio.value}} name={{name}}>
<label for={{radio.id}}>{{radio.value}}</label> --}}
<div class="square">
	<span class="choosed"></span>
</div> <span class="text">{{radio.value}}</span>