{{!-- {{yield}} --}}
<table style={{style}} class="bp-table-tbody">
  {{bp-table/colgroup columns=columns}}
  <tbody>
    {{#each bodyData as |trow|}}
      <tr style={{hasBorder}}>
        {{#each columns as |column|}}
          {{bp-table/cell
            row=trow
            column=column
            value=(get trow column.valuePath)
          }}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
{{!-- {{#each tableData as |trow|}}
  <tr  style={{hasBorder}}>
    {{#each columns as |column|}}
      {{bp-table/cell row=trow column=column value=(get trow column.valuePath)}}
    {{/each}}
  </tr>
{{/each}} --}}